<footer class="black-bg">
    <div class="container wow fadeInUp">
            <div class="footer-menu-box">
                <h4 id="numero7">Company Info</h4>
                <ul class="footer-menu-list">
                    <li><a href="/#!/company/aboutus" data-toggle="tab" class="link-view">About Us</a></li>
                    <li><a href="/#!/company/faq" data-toggle="tab" class="link-view">FAQ</a></li>
                    <li><a href="/#!/company/privacy" data-toggle="tab" class="link-view">Privacy Policy</a></li>
                    <li><a href="/#!/company/terms" data-toggle="tab" class="link-view">Terms and Conditions</a></li>
                    <li><a href="/#!/company/contactus" data-toggle="tab" class="link-view">Contact us</a></li>
                </ul>
            </div>
            <div class="footer-menu-box">
                <h4>Customer Service</h4>
                <ul class="footer-menu-list">
                    <li><a href="/#!/company/shipping" data-toggle="tab" class="link-view">Free Shipping</a></li>
                    <li><a href="/#!/company/returns" data-toggle="tab" class="link-view">Free Returns</a></li>
                    <li><a href="/#!/company/refunds" data-toggle="tab" class="link-view">Full Refunds</a></li>
                    <li><a href="/#!/company/trackorder" data-toggle="tab" class="link-view">Traking your Order</a></li>
                    <li><a href="/#!/company/notax" data-toggle="tab" class="link-view">Do I have to pay tax?</a></li>
                </ul>
            </div>
            <div class="footer-logo-box">
                <a href="/#!/"><img src="/static/img/prized-w.png" alt="Logo"></a>
            </div>
        </div>
</footer>
<a href="" class="top-site ripplelink"><i class="fa fa-angle-up"></i></a>

	

