<ng-include src="'/static/app/templates/theatermediaclanheader.html'" onload="onHeaderLoad()"></ng-include>

<section class="push-on-mobile" id="sb-site">
 	<section class="header-page">
    	<div class="container">
    		<span class="icon-like"></span><h3>THANKS FOR ORDER</h3>

    	</div>
    </section>
    <section class="black-bg">
    	<div class="container mobile">
        	<div class="tanks-well">
            Ordering information will be sent to your email.
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
	</section>

<!--<ng-include src="'/static/app/templates/footer.html'" onload="onFooterLoad()" ></ng-include>-->



