<ng-include src="'/static/app/templates/header.html'" onload="onHeaderLoad()"></ng-include>

<section class="push-on-mobile" id="sb-site">
 	<section class="header-page">
    	<div class="container">
    		<span class="icon-like"></span><h3>Thanks for playing!</h3>

    	</div>
    </section>
    <section class="black-bg">
    	<div class="container mobile">
        	<div class="tanks-well">
            Your item should arrive in the next month.
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
	</section>

<ng-include src="'/static/app/templates/footer.html'" onload="onFooterLoad()" ></ng-include>

