{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Prized.tv</title>

    <meta property="og:title" content="Prized.tv"/>
    <meta property="og:image" content="http://prized.tv/static/img/apple-touch-icon-144x144.png" />
    <meta property="og:description" content="Win prizes for voting and uploading"/>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png"/>

    <link rel="icon" href="{% static "" %}img/favicon.png" type="image/png" sizes="36x16">

    <!-- Bootstrap -->
    <link href="{% static "" %}css/bootstrap.min.css" rel="stylesheet">

    <!-- Mandatory -->
    <link href="{% static "" %}css/style.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}css/mobile.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}css/normalize.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}css/animate.css" rel="stylesheet" type="text/css">

    <link href="{% static "" %}css/flickity.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static "" %}css/jquery.sidr.dark.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}css/component.css" rel="stylesheet" type="text/css"/>

    <link href="{% static "" %}css/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css" media="all">
    <link href="{% static "" %}css/prettify.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}css/isotope.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}slick/slick.css" rel="stylesheet" type="text/css"/>
    <link href="{% static "" %}slick/slick-theme.css" rel="stylesheet" type="text/css"/>

    <!--Guide Tour-->
    <link href="{% static "" %}css/joyride-2.1.css" rel="stylesheet" type="text/css"/>

    <!--Fonts-->
    <link href="{% static "" %}css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}fonts/fonts.css" rel="stylesheet" type="text/css">

    <!-- Carousel CSS Files -->
    <link href="{% static "" %}css/flickity.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap.vertical-tabs.css" rel="stylesheet" type="text/css">
    <link href="{% static "" %}css/slidebars.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static "" %}slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{% static "" %}slick/slick-theme.css"/>

    <link href="//cdn.rawgit.com/indrimuska/angular-selector/master/dist/angular-selector.css" rel="stylesheet">


    
    <!-- Countdown Timer -->
    <link href="{% static "" %}css/countdown.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Additional dev css -->
    <link href="/static/css/add-styles.css" rel="stylesheet" type="text/css">
    <link href="/static/css/ng-img-crop.css" rel="stylesheet" type="text/css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.5.0/rzslider.min.css" rel="stylesheet" type="text/css">

    <script src="http://content.jwplatform.com/libraries/5mPihBP9.js"></script>


    <style>
        .modal-content.black .modal-header .modal-title {
            color: #FFF;
        }

        #b-show-photo, #show-prizes1 {
            display: block;
            visibility: visible;
        }
    </style>

    <script>
        appConfig = {
            facebookAppId: '{{ facebook_app_id }}',
            instagramAppId: '{{ instagram_app_id }}',
            username: '{{ user.username|escapejs }}',
            avatar: '{{ avatar|escapejs }}',
            isAuth: 'True' === '{{ user.is_authenticated|escapejs }}',
            termsFlag: 'True' == '{{ user.terms_flag }}',
            socialAuthProvider: '{{ social_auth_type }}',
            socialUserId: '{{ social_user_id }}',
            accessToken: '',
            topCompetitionId: '{{ top_competition_id }}'
        };
    </script>

    <script src="//load.sumome.com/" data-sumo-site-id="9b99489022bb930ffbb6c5fb830a9b02212037326dfbd2be8396af10cd21c471" async="async"></script>

</head>
<body ng-controller="ApplicationController" style="background-color: #000;">


<div ng-view>

    <div class="modal-dialog spinner" style="height: 500px; " role="document">

        <div class="sk-spinner sk-spinner-rotating-plane"></div>

    </div>

</div>


<div class="my-upload-box">
    <input type="file" id="fileUploadInput"/>
</div>

<div class="modal fade" id="signup-opt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog black">
        <div class="modal-content black">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">SIGN IN WITH...</h4>
            </div>
            <div class="modal-body">
                <a href="" ng-click="login('facebook')" id="facebook"><i class="fa fa-facebook-square"></i>sign up with facebook</a>
                <a href="" ng-click="login('instagram')" id="instagram"><i class="fa fa-instagram"></i>sign up with instagram</a>
                <a href="" data-dismiss="modal" data-toggle="modal" data-target="#email-auth-popup"><i class="fa fa-envelope"></i>signin with your email</a>
                <a href="" data-dismiss="modal" data-toggle="modal" data-target="#registration-popup"><i class="fa fa-envelope"></i> register with your email</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="registration-popup" ng-controller="UserController as uc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog black">
        <div class="modal-content black">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">REGISTER...</h4>
            </div>
            <div class="modal-body">
                  <form id="regForm" name="regForm" role="form" ng-submit="uc.register(regForm.$valid)" novalidate>
                    <div ng-show="uc.regFormError" ng-bind="uc.regFormError"></div>
                    
                    <div class="form-group signin-form">
                      <label for="register__email">Email</label>
                      <input type="email" class="form-control" name="email" id="register__email" ng-model="uc.email" placeholder="ex. john@notgoogle.com" required />
                      <div ng-show="regForm.$submitted || regForm.email.$touched">
                        <div ng-show="regForm.email.$error.required">Email is required</div>
                        <div ng-show="regForm.email.$error.email">This is not a valid email</div>
                      </div>
                    </div>

                    <div class="form-group signin-form">
                      <label for="register__username">Username</label>
                      <input type="text" class="form-control" name="username" id="register__username" ng-model="uc.username" placeholder="ex. john" required />
                        <div ng-show="regForm.$submitted || regForm.username.$touched">
                          <div ng-show="regForm.username.$error.required">username is required</div>
                        </div>
                    </div>

                    <div class="form-group signin-form">
                      <label for="register__password">Password</label>
                      <input type="password" class="form-control" name="password" id="register__password" ng-model="uc.password" placeholder="ex. thisisnotgoogleplus" required />
                      <div ng-show="regForm.$submitted || regForm.password.$touched">
                        <div ng-show="regForm.password.$error.required">password is required</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="email-auth-popup" ng-controller="UserController as uc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog black">
        <div class="modal-content black">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">SIGN IN WITH EMAIL</h4>
            </div>
            <div class="modal-body">
                  <form id="regForm" name="authForm" role="form" ng-submit="uc.login(authForm.$valid)" novalidate>
                    <div ng-show="uc.authFormError" ng-bind="uc.authFormError">
                    </div>

                    <div class="form-group signin-form">

                      <label for="register__email">Email</label>
                      <input type="email" class="form-control" name="email" id="register__email" ng-model="uc.email" placeholder="ex. john@notgoogle.com" required />

                        <div ng-show="authForm.$submitted || authForm.email.$touched">
                          <div ng-show="authForm.email.$error.required">Email is required</div>
                          <div ng-show="authForm.email.$error.email">This is not a valid email</div>
                        </div>
                    </div>

                    <div class="form-group signin-form">
                      <label for="register__password">Password</label>
                      <input type="password" class="form-control" name="password" id="register__password" ng-model="uc.password" placeholder="ex. thisisnotgoogleplus" required />
                        <div ng-show="authForm.$submitted || authForm.password.$touched">
                          <div ng-show="authForm.password.$error.required">password is required</div>
                        </div>

                    </div>

                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="welcome-video-popup" styletabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog black" style="margin-top:50px; width: 70%;">
        <div class="modal-content black">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <!-- <script type="application/javascript" src="//content.jwplatform.com/players/GGY2PpDY-wHQm1Oze.js"></script> -->
                <!-- <iframe id="ytplayer" width="560" height="315" src="https://www.youtube.com/embed/y9xUiav1FcY?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen></iframe> -->

                <div id="welcomeVideoId">Loading the player...</div>
<script type="text/javascript">
var playerInstance = jwplayer("welcomeVideoId");
playerInstance.setup({
    file: "/static/video/prized_new_video.mp4",
    image: "/static/video/prizedvideo_thumb1.png",
    width: "100%",
    title: '',
    description: '',
    mediaid: '123456'
});
</script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="terms-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog black">
        <div class="modal-content black">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="color:white;">
                <input type="checkbox" value="1" ng-model="termsFlag" style="display:inline;"/>
                Please tick the box to confirm that you have read the Terms and Conditions.
                <a href="" ng-click="termsClick()" id="facebook">OK</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="info-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog black">
        <div class="modal-content black">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% verbatim %}{{ infoMessage }}{% endverbatim %}</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="photo-crop-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog black">
        <div class="modal-content black">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4>Photo crop</h4>
            </div>
            <div class="modal-body">
                <div class="cropArea">
                    <img-crop image="myImage" area-type="square" result-image-size="612"
                              result-image-format="image/jpeg" result-image="myCroppedImage"></img-crop>
                </div>

                <div class="add-bag-opt-box">
                    <form>
                        <div class="add-bag-opt">
                            <button type="submit" ng-click="uploadImage()" class="bnt-add-bag-continue">
                                Upload
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Upload-->
<div class="modal fade" id="upload-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog black">
        <div class="modal-content black">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Upload To:</h4>
          </div>
          <div class="modal-body">
           <a href="" ng-click="selectCompetitionForUpload(c.id)" ng-repeat="c in competitionList" ng-bind="c.name + ' Competition'" class="competition-name"></a>
          </div>
        </div>
      </div>
</div>

<div class="modal fade" id="spinner-mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog spinner" role="document">

        <div class="sk-spinner sk-spinner-rotating-plane"></div>

    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="/static/js/angular-easyfb.min.js"></script>
<script src="/static/js/ngCart.min.js"></script>
<script src="/static/js/ng-img-crop.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.5.0/rzslider.min.js" type="text/javascript" ></script>
<script src="//cdn.rawgit.com/indrimuska/angular-selector/master/dist/angular-selector.js"></script>
    

<!-- Countdown Timer -->
<script src="/static/js/jquery.countdown.js"></script>

<script>

    $(window).scroll(function () {
        if ($(this).scrollTop() > 1) {
            $('nav').addClass("shrink-nav");
        }
        else {
            $('nav').removeClass("shrink-nav");
        }
    });

</script>


<script>
    $('#p1').on("click", function () {
        $('#pd').css('display', 'block');
    });
</script>

<!-- Hot Jar Tracking -->
<script>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
            (h.hj.q = h.hj.q || []).push(arguments)
        };
        h._hjSettings = {hjid: 59625, hjsv: 5};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
</script>

<!-- Sumome Tracking -->
<script src="//load.sumome.com/" data-sumo-site-id="a7027ae8645a65f6ae78b1ac6c6e8c69808c1617957addc596b59811d2e879e6"
        async="async"></script>


<script type="text/javascript" src="static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
<script type="text/javascript" src="static/js/jquery.joyride-2.1-fix.js"></script>

<script src="/static/js/classie.js"></script>
<script src="/static/js/wow.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/slick/slick.min.js"></script>
<script src="/static/js/masonry.pkgd.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.js"></script>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

<!-- Carousel -->
<script src="/static/js/flickity.pkgd.js"></script>
<!--Custom Scripts-->
<script src="/static/js/fomotv.js"></script>

<script src="/static/js/jquery.sidr.min.js"></script>

<script src="{% static "" %}js/jquery.popupoverlay.js" type="text/javascript"></script>

<script src="{% static "" %}js/draggabilly.pkgd.min.js"></script>
<script src="{% static "" %}js/marketresearch-aux-javascript.js"></script>

<script src="{% static "" %}js/custom.js" type="text/javascript"></script>

<script src="{% static "" %}js/jquery.bootstrap.wizard.js"></script>
<script src="{% static "" %}js/prettify.js"></script>

<script src="{% static "" %}js/selectFx.js"></script>

<script src="{% static "" %}js/slick.min.js"></script>

<script src="{% static "" %}js/date.format.js"></script>


{% if minify_js %}

    <script src="{% static "" %}dist/app.min.js"></script>


{% else %}

    <script src="{% static "" %}app/main-app.js"></script>
    <script src="{% static "" %}app/auth/auth-service.js"></script>
    <script src="{% static "" %}app/auth/auth-controller.js"></script>
    <script src="{% static "" %}app/auth/reg-controller.js"></script>
    <script src="{% static "" %}app/order/order-service.js"></script>
    <script src="{% static "" %}app/photo/photo-controller.js"></script>
    <script src="{% static "" %}app/photo/photo-service.js"></script>
    <script src="{% static "" %}app/photo/photo-upload-factory.js"></script>
    <script src="{% static "" %}app/competition/competition-service.js"></script>
    <script src="{% static "" %}app/competition/competition-controller.js"></script>
    <script src="{% static "" %}app/marketresearch/marketresearchcontroller.js"></script>
    <script src="{% static "" %}app/marketresearch/marketresearchservice.js"></script>
    <script src="{% static "" %}app/order/cart-controller.js"></script>
    <script src="{% static "" %}app/order/order-controller.js"></script>
    <script src="{% static "" %}app/order/checkout-controller.js"></script>
    <script src="{% static "" %}app/competition/prize-list-controller.js"></script>
    <script src="{% static "" %}app/competition/prize-detail-controller.js"></script>
    <script src="{% static "" %}app/competition/theater-media-clan-controller.js"></script>
    <script src="{% static "" %}app/catalog/catalog-service.js"></script>
    <script src="{% static "" %}app/catalog/catalog-controller.js"></script>
    <script src="{% static "" %}app/winner/winner-controller.js"></script>
    <script src="{% static "" %}app/winner/winner-prize-list-controller.js"></script>
    <script src="{% static "" %}app/winner/winner-confirm-controller.js"></script>
    <script src="{% static "" %}app/winner/winner-prize-detail-controller.js"></script>
    <script src="{% static "" %}app/text/text-controller.js"></script>
    <script src="{% static "" %}app/index/index-controller.js"></script>
    <script src="{% static "" %}app/prize/prize-service.js"></script>

    <script src="{% static "" %}app/questionnaire/questionnaire-service.js"></script>
    <script src="{% static "" %}app/questionnaire/questionnaire-controller.js"></script>
    <script src="{% static "" %}app/config-app.js"></script>


{% endif %}

<script>
    angular.module('myConfig').constant('appConfig',
            {
                facebookAppId: '{{ facebook_app_id }}',
                instagramAppId: '{{ instagram_app_id }}',
                username: '{{ user.username|escapejs }}',
                avatar: '{{ avatar|escapejs }}',
                isAuth: 'True' === '{{ user.is_authenticated|escapejs }}',
                termsFlag: 'True' == '{{ user.terms_flag }}',
                socialAuthProvider: '{{ social_auth_type }}',
                socialUserId: '{{ social_user_id }}',
                accessToken: '',
                topCompetitionId: '{{ top_competition_id }}'
            }
    );
</script>

<script src="{% static "" %}js/elastiStack.js"></script>
<script src="/static/js/slidebars.js"></script>

<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>

<script>
    window.intercomSettings = {
        app_id: "hcmuzvkc"
    };
</script>
<script type="text/javascript" src="/static/js/flowtype.js"></script>
<script>
/*
    function onYouTubePlayerReady(playerId) {

  ytplayer = document.getElementById("ytplayer");
  ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
}

function onytplayerStateChange(newState) {
   alert("Player's new state: " + newState);
}
*/
    $('.captions').flowtype();

</script>
<script>(function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', intercomSettings);
    } else {
        var d = document;
        var i = function () {
            i.c(arguments)
        };
        i.q = [];
        i.c = function (args) {
            i.q.push(args)
        };
        w.Intercom = i;
        function l() {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/hcmuzvkc';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }

        if (w.attachEvent) {
            w.attachEvent('onload', l);
        } else {
            w.addEventListener('load', l, false);
        }
    }
})()</script>


<script type="text/ng-template" id="first-page-text">
    {{ first_page_text | safe }}
  </script>


</body>
</html>