Hey there,<br/>
<br/>
You've just purchased:<br/>
<br/>
<table border="1">
{% for p in products %}
<tr>
<td>{{ p.number }}</td>
<td>{{ p.name }}<br/>
{% if p.size %}
Size: {{ p.size }}<br/>
{% endif %}
{% if p.color %}
Color: {{ p.color }}
{% endif %}
</td>
<td>{{ p.quantity }}</td>
<td>{{ p.amount }}</td>
<td align="right">{{ p.sub_total }}</td>
</tr>
{% endfor %}
<tr>
    <td><b>Total:</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td align="right"><b>{{ order.total }}</b></td>
</tr>
</table>
<br/>
Your order number is <b>{{ orderId }}</b>, keep this handy for tracking purposes.<br/>
<br/>
Sit tight whilst we process your order, and we'll be in touch soon with a tracking number.<br/>
<br/>
thanks,<br/>
Renata<br/>
Prized.tv Founder<br/>