New prize selection:<br/>
<br/>
<table border="1">
<tr>
    <td>Selected Prize</td><td><a href="http://prized.tv/#!/prize/{{ prize_id }}/" >{{ prize_name }}</a></td>
</tr>
<tr>
    <td>First Name</td><td>{{ first_name }}</td>
</tr>
<tr>
    <td>Last Name</td><td>{{ last_name }}</td>
</tr>
<tr>
    <td>Email</td><td>{{ email }}</td>
</tr>
<tr>
    <td>Phone</td><td>{{ phone }}</td>
</tr>
<tr>
    <td>Country Code</td><td>{{ country_code }}</td>
</tr>
<tr>
    <td>Country Name</td><td>{{ country_name }}</td>
</tr>
<tr>
    <td>ZIP</td><td>{{ zip }}</td>
</tr>
<tr>
    <td>State</td><td>{{ state }}</td>
</tr>
<tr>
    <td>City</td><td>{{ city }}</td>
</tr>
<tr>
    <td>Address</td><td>{{ street }}</td>
</tr>
</table>
<br/>
<br/>
Prized.tv<br/>